<p>user works!</p>

 <div  class="container-md mt-5 mb-5">
  <h3>Fill out the below form to add a user</h3>

<form [formGroup]="userForm" (ngSubmit)="onSubmitUserForm()">
  <div class="form-group">
    <label for="email">E-Mail</label>
    <input
      type="email"
      id="email"
      class="form-control"
      ngModel
      name="email"
      required
      email
    />
    <br />
  </div>
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">User Role</label>
    <select class="form-select" id="inputGroupSelect01" ngModel name="userRole">
      <option selected>Choose...</option>
      <option value="1">Parent</option>
      <option value="2">Child</option>
    </select>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      class="form-control"
      ngModel
      name="password"
      required
      minlength="6"
    />
    <div class="form-group">
      <label for="password">Verify Password</label>
      <input
        type="password"
        id="verify password"
        class="form-control"
        ngModel
        name="verify password"
        required
        minlength="6"
      />
      <button type="button" class="btn btn-primary m-1" (click)="onAddUser()">
        Submit
      </button>
    </div>
  </div>
  </form>
</div>


