<h1>
  {{ completedMode ? "Completed Chores" : "Chore List" }}
  <button
    type="button"
    class="btn btn-primary m-1 float-end"
    routerLink="/chores/new"
  >
    Add Chore
  </button>
</h1>

<div
  class="card mb-3"
  style="max-width: 100%"
  *ngFor="let chore of chores; let i = index"
>
  <div class="row g-0">
    <div class="col-md-4">
      <img
        [src]="chore.imagePath"
        id="imagePath"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" id="choreName">{{ chore.choreName }}</h5>
        <p class="card-text" id="description">{{ chore.description }}</p>
        <p class="card-text" id="dueDate">Due: {{ chore.dueDate }}</p>
        <p
          class="card-text"
          id="completedDate"
          *ngIf="chore.completedDate !== ''"
        >
          Completed on: {{ chore.completedDate }}
        </p>
        <p
          class="card-text"
          id="completedDate"
          *ngIf="chore.completedDate === ''"
        >
          Not completed
        </p>
        <p class="card-text">
          <small class="text-muted">Amount Earned: ${{ chore.amount }} </small>
        </p>
        <p>
          <!-- <button
            type="button"
            class="btn btn-primary m-1"
            routerLink="{{ chore.id }}"
          >
            View
          </button> -->
          <button
            type="button"
            class="btn btn-primary m-1"
            routerLink="{{ chore.id }}/edit"
            *ngIf="this.userRole === 'parent'"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-primary m-1"
            *ngIf="this.userRole === 'parent'"
            (click)="onDeleteChore(chore.id)"
          >
            Delete
          </button>
          <button
            type="button"
            class="btn btn-primary m-1"
            (click)="onComplete(chore.id)"
            *ngIf="completedMode === false"
          >
            Completed
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
