<h1>{{ completedMode ? "Completed Chores" : "Chore List" }}</h1>
<div
  class="card mb-3"
  style="max-width: 100%"
  *ngFor="let chore of chores; let i = index"
>
  <div class="row g-0">
    <div class="col-md-4">
      <img
        [src]="chore.imagePath"
        id="imagePath"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" id="choreName">{{ chore.choreName }}</h5>
        <p class="card-text" id="description">{{ chore.description }}</p>
        <p class="card-text" id="dueDate">Due: {{ chore.dueDate }}</p>
        <p
          class="card-text"
          id="completedDate"
          *ngIf="chore.completedDate !== ''"
        >
          Completed on: {{ chore.completedDate }}
        </p>
        <p
          class="card-text"
          id="completedDate"
          *ngIf="chore.completedDate === ''"
        >
          Not completed
        </p>
        <p class="card-text">
          <small class="text-muted">{{ chore.amount }} </small>
        </p>
        <p>
          <button
            type="button"
            class="btn btn-primary m-1"
            routerLink="{{ i }}"
          >
            View
          </button>
          <button
            type="button"
            class="btn btn-primary m-1"
            routerLink="{{ i }}/edit"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-primary m-1"
            (click)="onDeleteChore(i)"
          >
            Delete
          </button>
          <button
            type="button"
            class="btn btn-primary m-1"
            (click)="onComplete(i)"
            *ngIf="completedMode === false"
          >
            Completed
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
