<h1>Chore Form</h1>
<form (ngSubmit)="onSubmitForm(choreDetailForm)" #choreDetailForm="ngForm">
  <div class="mb-3">
    <label for="name" class="form-label">Chore Name</label>
    <input
      type="text"
      class="form-control"
      id="choreName"
      name="choreName"
      ngModel
    />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description of chore</label>
    <input
      type="text"
      class="form-control"
      id="description"
      name="description"
      ngModel
    />
  </div>
  <div class="mb-3">
    <label for="imagePath" class="form-label">Image</label>
    <input
      type="text"
      class="form-control"
      id="imagePath"
      name="imagePath"
      ngModel
    />
  </div>
  <div class="w-25 mb-3 padding-bottom-3">
    <label for="dueDate" class="form-label">Due Date</label>
    <input
      type="text"
      class="form-control"
      id="dueDate"
      name="dueDate"
      ngModel
    />
  </div>
  <div class="w-25 mb-3 pading-bottom-3">
    <label for="amount" class="form-label">Amount to earn</label>
    <input type="text" class="form-control" id="amount" name="amount" ngModel />
  </div>

  <div class="col-auto">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
