<p>User List Works</p>

<h1>User List</h1>
<div
  class="card mb-3"
  style="max-width: 100%"
  *ngFor="let user of users; let i = index"
>
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" id="email">{{ user.email }} (Index: {{ i }})</h5>
        <p class="card-text" id="firstName">{{ user.firstName }}</p>
        <p class="card-text" id="lastName">{{ user.lastName }}</p>
        <p>
          <!-- <button
            type="button"
            class="btn btn-primary m-1"
            routerLink="{{ user.id }}"
          >
            View
          </button> -->
          <button
            type="button"
            class="btn btn-primary m-1"
            routerLink="{{ i }}/edit"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-primary m-1"
            (click)="onDeleteUser(user.id)"
          >
            Delete
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
